﻿@using SystemFNB.Models
@model PenyajianViewModel
@{
    var controllerName = "Penyajian";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var tableId = $"table_{controllerName}_diet";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    #@tableId{
       width:2000px;
    }

    #@tableId thead th{
        text-align:center;
    }

    #@tableId tbody td:nth-child(4) {
        min-width: 100px;
        text-align: center;
    }

    #@tableId tbody td:nth-child(5){
         min-width: 350px;
    }

    #@tableId tbody td:nth-child(6) {
        min-width: 80px;
        text-align: center;
    }

    #@tableId tbody td:nth-child(7) {
        min-width: 150px;
        text-align: center;
    }

    #@tableId tbody td:nth-child(8){
         min-width: 300px;
    }

        #@tableId tbody td:nth-child(9) {
            min-width: 300px;
        }

        #@tableId tbody td:nth-child(10) {
            min-width: 300px;
        }

        #@tableId tbody td:nth-child(11) {
            min-width: 300px;
        }

        #@tableId tbody td:nth-child(12) {
            min-width: 100px;
        }

        #@tableId tbody td:nth-child(13) {
            min-width: 200px;
        }

</style>
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">No Bukti</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button id="btnautoid" class="btn btn-success" onclick="autoid(this, '@Url.Action("AutoId")', '#No')">
                                <i class="icon-sync"></i>
                            </button>
                        </span>
                        @Html.EditorFor(model => model.No, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.No, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-2">Tanggal</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = DateTime.Today.ToString("yyyy-MM-dd") } })
                    @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Shift</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-warning" onclick="getdatadiet()"><i class="icon-search4"></i></button>
                        </span>
                        @Html.DropDownListFor(model => model.Kode_Shift, new List<SelectListItem>(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Kode_Shift, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<label class="control-label col-md-2">Section</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.Id_Section, StaticModel.ListSectionRI, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Section, "", new { @class = "text-danger" })
                </div>*@
            </div>
            <hr />
            <div class="panel-default b-10">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="@tableId">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>No</th>
                                    <th>NRM</th>
                                    <th>Nama Pasien</th>
                                    <th>Tipe</th>
                                    <th>No Kamar</th>
                                    <th>Makanan</th>
                                    <th>Diet</th>
                                    <th>Keterangan</th>
                                    <th>Penghabisan</th>
                                    <th>Snack</th>
                                </tr>
                            </thead>
                            <tbody id="datadiet"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-right p-10">
                <button type="button" class="btn btn-primary" onclick="submitbutton()">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }
</div>

<script>
    @if (!ViewBag.IsAjaxRequest)
    {
    <text>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnautoid').click();
    });
    </text>
    }
    else
    {
        @:$('#btnautoid').click();
    }
</script>
<script>
    var idx;

    $('#@formName #Id_Section').select2();

    $('#@formName #Kode_Shift').select2({
        ajax: {
            url: "@Url.Action("ListShift", "Penyajian")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Kode',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'info');
                else {
                    params.page = data.Pagger.PageIndex + 1;
                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    function selectindexMakanan(idxx) {
        var a = '#@formName #kodemakanan_' + idxx + '_';
        var _inputa = $(a);
        _inputa.select2({
            ajax: {
                url: "@Url.Action("ListMakanan", "Penyajian")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: [params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'info');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }

    function selectindex(idxx) {
        var a = '#@formName #kodeproduk_' + idxx + '_';
        var _inputa = $(a);
        _inputa.select2({
            ajax: {
                url: "@Url.Action("ListProduk", "Penyajian")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: [params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'info');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }



    function selectindexsnack(idxx) {
        var a = '#@formName #kodeproduksnack_' + idxx + '_';
        var _inputa = $(a);
        _inputa.select2({
            ajax: {
                url: "@Url.Action("ListProdukSnack", "Penyajian")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: [params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'info');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            },
            placeholder: "",
            allowClear: true
        });
    }

    function getdatadiet() {
        var vshift = $('#Kode_Shift').val();
        var vsection = $('#Id_Section').val();
        if (vshift == "" || vshift == "undefined" || vshift == null) {
            alertpopup('Pilih shift terlebih dahulu', 'warning');
        } else {
            myajax({
                url: '@Url.Action("GetDataDiet", "Penyajian")',
                data: {
                    shift: $('#Kode_Shift option:selected').val(),
                    section: $('#Id_Section option:selected').val(),
                    tanggal: $('#Tanggal').val()
                },
                method: 'POST',
                dataType: 'JSON',
                success: function (dt) {
                    if (!dt.IsSuccess)
                        alertpopup(dt.Message, 'info');
                    else {
                        var r = '';
                        var e = 1;
                        $.each(dt.Data.Detail_List, function (index, value) {
                            r += '<tr class="use">';
                            r += '<td class="text-center"><a onclick="removelistpenyajian(this)" class="cursor-pointer"><i class="icon-trash text-danger"></i></a></td>';
                            r += '<td class="text-center">' + e + '</td>';
                            r += '<td class="hidden"><input type="text" readonly class="input-sm form-control" value="' + value.Model.NoReg + '"></td>';
                            r += '<td><input type="text" readonly class="input-sm form-control" value="' + value.Model.NRM + '"></td>';
                            r += '<td><input type="text" readonly class="input-sm form-control" value="' + value.Model.NamaPasien + '"></td>';
                            r += '<td><input type="text" readonly class="input-sm form-control" value="' + value.Model.JenisKerjasama + '"></td>';
                            r += '<td><input type="text" readonly class="NoKamar input-sm form-control" value="' + value.Model.NoKamar + '"></td>';
                            r += '<td><select id="kodemakanan_' + index + '_" class="Kode_Makanan form-control"><option value="' + value.Model.Kode_Makanan + '">' + value.Model.Nama_Makanan + '</option></select></td>';
                            r += '<td><select id="kodeproduk_' + index + '_" class="Kode_Produk form-control"><option value="' + value.Model.Kode_Produk_Request + '">' + value.Model.Nama_Request + '</option></select></td>';
                            r += '<td class="hidden"><</td>';
                            r += '<td><input type="text" readonly class="input-sm form-control" value="' + (value.Model.Keterangan == null ? '' : value.Model.Keterangan) + '"></td>';
                            r += '<td><select class="penghabisan form-control"><option value="100">100%</option><option value="75">75%</option><option value="50">50%</option><option value="25">25%</option><option value="0" selected>0%</option></select></td>';
                            r += `<td>
                                        <select id="kodeproduksnack_` + index + `_" class="snack form-control"></select>
                                        <input type="hidden" readonly class="No_DietRequest input-sm form-control" value="` + value.Model.No_DietRequest + `">
                                        <input type="hidden" readonly class="Kode_Produk_Request input-sm form-control" value="` + value.Model.Kode_Produk_Request + `">
                                    </td>`;
                            r += '</tr>';

                            datadiet.innerHTML = r;
                            idx = index;
                            e++;
                        });

                        var i;
                        for (i = 0; i <= idx; i++) {
                            selectindex(i);
                            selectindexsnack(i);
                            selectindexMakanan(i);
                        }

                    }
                }
            });
        }
    }

    function submitbutton() {
        var data = [];
        var noreg, produk, produkRequest, bentukmakanan, snack, nodiet;
        var nopenyajian = $('#No').val();
        var tanggal = $('#Tanggal').val();
        var shift = $('#Kode_Shift').val();
        var section = $('#Id_Section').val();
        var error = 0;
        $("#@tableId").find('tr.use').each(function(){
            noreg = $(this).find("td:eq(2) input[type='text']").val();
            kamar = $(this).find("td:eq(6) input[type='text']").val();
            makanan = $(this).find(".Kode_Makanan option:selected").val();
            produk = $(this).find(".Kode_Produk option:selected").val();
            produkRequest = $(this).find(".Kode_Produk_Request").val();
            penghabisan = $(this).find(".penghabisan option:selected").val();
            bentukmakanan = $(this).find("td:eq(13) option:selected").val();
            snack = $(this).find(".snack option:selected").val();
            nodiet = $(this).find(".No_DietRequest").val();
            //---->Form validation goes here
            if (noreg != undefined && produk != undefined && penghabisan != undefined && makanan != undefined) {
                data.push({
                    NoReg: noreg,
                    NoKamar: kamar,
                    Kode_Makanan: makanan,
                    Kode_Produk: produk,
                    Kode_Produk_Request: produkRequest,
                    Penghabisan: penghabisan,
                    BentukMakanan: bentukmakanan,
                    Kode_Snack: snack,
                    No_DietRequest: nodiet
                });
            } else {
                error += 1;
            }

            if (error > 0) {
                alertpopup("Lengkapi data terlebih dahulu.", "info");
            }

        });
        submitFormData(tanggal, nopenyajian, shift, section,data);
    }

    function submitFormData(tanggal, nopenyajian, shift, section,formData) {
        myajax({
            url: '@Url.Action("Create", "Penyajian")',
            data: {
                tanggal: tanggal,
                nopenyajian: nopenyajian,
                shift: shift,
                section: section,
                formData: formData
            },
            method: 'POST',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup(dt.Message, 'info');
                else {
                    alertpopup('success', 'success');
                    $('.modal').modal('hide');

                    var sc = angular.element('#table_Penyajian').scope();
                    sc.getdatas();
                }
            }
    });
    }


    function removelistpenyajian(t) {
        $(t).closest('tr').removeClass('use');
        $(t).closest('tr').addClass('hidden');
    }
</script>