﻿@using SystemFNB.Models
@model PenyajianViewModel
@{
    var controllerName = "Penyajian";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_edit";

    var targetForm = formName;

    #region Detail Penyajian
    var detail_penyajian = new PenyajianDetailViewModel();
    var table_detail_penyajian = $"frm_{controllerName}_table_detail_penyajian";
    var target_inputDetail_penyajian = $"inputDetail{controllerName}_penyajian";

    var tableId = table_detail_penyajian;
    #endregion

    int detail_produk_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_produk_index = Model.Detail_List.Count();
        }
    }

    var selectlistbentukmakanan = StaticModel.SelectListBentukMakanan;

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Edit", Value = "active" }
};
}
<style>
     #@tableId{
       width:2000px;
    }

    #@tableId thead th{
        text-align:center;
    }

    #@tableId tbody td:nth-child(1), #@tableId thead th:nth-child(1) {
        min-width: 100px;
        display:none;
    }
    #@tableId tbody td:nth-child(2) {
        min-width: 60px;
        text-align: center;
    }

    #@tableId tbody td:nth-child(3) {
        min-width: 100px;
        text-align: center;
    }

    #@tableId tbody td:nth-child(4){
         min-width: 350px;
    }

    #@tableId tbody td:nth-child(5) {
        min-width: 80px;
        text-align: center;
    }

    #@tableId tbody td:nth-child(6) {
        min-width: 150px;
        text-align: center;
    }

    #@tableId tbody td:nth-child(7){
         min-width: 300px;
    }

        #@tableId tbody td:nth-child(8) {
            min-width: 300px;
        }

        #@tableId tbody td:nth-child(9) {
            min-width: 300px;
        }

        #@tableId tbody td:nth-child(10) {
            min-width: 80px;
        }

        #@tableId tbody td:nth-child(11) {
            min-width: 200px;
        }

        #@tableId tbody td:nth-child(12) {
            min-width: 80px;
        }

        #@tableId tbody td:nth-child(13) {
            min-width: 200px;
        }

        #@tableId tbody td:nth-child(14) {
            min-width: 80px;
            text-align: center;
        }
</style>
<div class="wall">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.No)
        @Html.HiddenFor(model => model.Id_Section)
        @Html.HiddenFor(model => model.Kode_Shift)

        <div class="form-group">
            <label class="control-label col-md-2">No Bukti</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.No, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

            <label class="control-label col-md-2">Tanggal</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = Model.Tanggal.ToString("yyyy-MM-dd") } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Shift</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.NamaShift, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>

            <label class="control-label col-md-2">Section</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.NamaSection, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <hr />
        <div id="panel_detil_produk_@formName" class="detail" data-index-detail="@detail_produk_index">
            <div class="table-responsive">
                <table id="@table_detail_penyajian" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>NoReg</th>
                            <th>No</th>
                            <th>NRM</th>
                            <th>Nama Pasien</th>
                            <th>Tipe</th>
                            <th>No Kamar</th>
                            <th>Makanan</th>
                            <th>Diet</th>
                            <th class="hidden">Amprahan</th>
                            <th class="hidden">Qty</th>
                            <th>Keterangan</th>
                            <th class="hidden">Harga</th>
                            <th>Penghabisan</th>
                            <th>Snack</th>
                            <th class="hidden">Snack</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Detail_List != null)
                        {
                            for (var i = 0; i < Model.Detail_List.Count(); i++)
                            {
                                @Html.HiddenFor(model => model.Detail_List[i].Model.No_Penyajian)
                                @Html.HiddenFor(model => model.Detail_List[i].Model.No_DietRequest)
                        <tr>

                            <!-- Kode -->
                            <td>
                                @Html.EditorFor(model => model.Detail_List[i].Model.NoReg, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control input-sm",
                                   @readonly = "readonly",
                                   tabindex = "-1"
                               }
                           })
                            </td>

                            <td>
                                <input type="text" name="no" class="form-control input-sm text-center" readonly="readonly" value="@(i+1)" />
                            </td>

                            <!-- Nama -->
                            <td>
                                @Html.EditorFor(model => model.Detail_List[i].Model.NRM, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control input-sm",
                                   @readonly = "readonly",
                                   tabindex = "-1"
                               }
                           })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Detail_List[i].Model.NamaPasien, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control input-sm",
                                   @readonly = "readonly",
                                   tabindex = "-1"
                               }
                           })
                            </td>

                            <td>
                                @Html.EditorFor(model => model.Detail_List[i].Model.JenisKerjasama, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control input-sm",
                                   @readonly = "readonly",
                                   tabindex = "-1"
                               }
                           })
                            </td>

                            <td>
                                @Html.EditorFor(model => model.Detail_List[i].Model.NoKamar, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control input-sm",
                                   @readonly = "readonly",
                                   tabindex = "-1"
                               }
                           })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.Detail_List[i].Model.Kode_Makanan, Model.Detail_List[i].Model.Kode_Makanan == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                 { new SelectListItem() { Value = Model.Detail_List[i].Model.Kode_Makanan, Text = Model.Detail_List[i].Model.Nama_Makanan } }, new { @class = "form-control" })
                            </td>

                            <td>
                                @Html.DropDownListFor(model => model.Detail_List[i].Model.Kode_Produk, Model.Detail_List[i].Model.Kode_Produk == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                 { new SelectListItem() { Value = Model.Detail_List[i].Model.Kode_Produk, Text = Model.Detail_List[i].Model.NamaProduk } }, new { @class = "form-control" })

                                @Html.HiddenFor(model => model.Detail_List[i].Model.Kode_Produk_Request, new
                              {
                                  htmlAttributes = new
                                  {
                                      @class = "form-control input-sm",
                                      @readonly = "readonly",
                                      tabindex = "-1"
                                  }
                              })
                            </td>

                            <td>
                                @Html.EditorFor(model => model.Detail_List[i].Model.Keterangan, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control input-sm",
                                   @readonly = "readonly",
                                   tabindex = "-1"
                               }
                           })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.Detail_List[i].Model.Penghabisan, StaticModel.SelectListPenghabisan(Model.Detail_List[i].Model.Penghabisan.ToString()), new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.Detail_List[i].Model.Kode_Snack, Model.Detail_List[i].Model.Kode_Snack == null ? new List<SelectListItem>() : new List<SelectListItem>()
                              { new SelectListItem() { Value = Model.Detail_List[i].Model.Kode_Snack, Text = Model.Detail_List[i].Model.Nama_Snack } }, new { @class = "form-control" })
                            </td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Simpan <i class="icon-floppy-disk position-right"></i></button>
        </div>
    </div>
    }
</div>
<script>
   @if (ViewBag.IsAjaxRequest) {
        if (Model != null)
        {
            if (Model.Detail_List != null)
            {
                for (var i = 0; i < Model.Detail_List.Count; i++)
                {
                    @:selectindex('Detail_List_@(i)__Model_Kode_Produk');
                    @:selectindexmakanan('Detail_List_@(i)__Model_Kode_Makanan');
                    @:selectindexsnack('@i');
                }
            }
        }
    } else
    {
    <text>
           document.addEventListener("DOMContentLoaded", function (event) {
            @if (Model != null)
            {
                if (Model.Detail_List != null)
                {
                    for (var i = 0; i < Model.Detail_List.Count; i++)
                    {
                        @:selectindex('Detail_List_@(i)__Model_Kode_Produk');
                        @:selectindexmakanan('Detail_List_@(i)__Model_Kode_Makanan');
                        @:selectindexsnack('@i');
                    }
                }
            }
        });
    </text>
    }


    function selectindex(idxx) {
        var a = '#@formName #' + idxx;
        var _inputa = $(a);
        _inputa.select2({
            ajax: {
                url: "@Url.Action("ListProduk", "Penyajian")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: [params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'info');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }

    function selectindexmakanan(idxx) {
        var a = '#@formName #' + idxx;
        var _inputa = $(a);
        _inputa.select2({
            ajax: {
                url: "@Url.Action("ListMakanan", "Penyajian")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: [params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'info');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }




    function selectindexsnack(idxx) {
        var a = '#@formName #Detail_List_' + idxx + '__Model_Kode_Snack';
        var _inputa = $(a);
        _inputa.select2({
            ajax: {
                url: "@Url.Action("ListProdukSnack", "Penyajian")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: [params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'info');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            },
            placeholder: "",
            allowClear: true
        });
    }


</script>