﻿@using iHos.MVC.Converter
@using SystemFNB.Models
@{
    var controllerName = "Penyajian";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var item = new PenyajianViewModel();
    var columnCount = 15;
    var column = new string[columnCount];
    column[0] = nameof(item.No);
    column[1] = nameof(item.Tanggal);
    column[2] = nameof(item.NamaShift);
    column[3] = nameof(item.NamaSection);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2) {
        width: 200px;
        text-align: center;
    }
    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3) {
        width: 150px;
        text-align:center;
    }
    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4) {
        width: 150px;
        text-align:center;
    }
</style>

<div class="wall" ng-controller="table" id="list_penyajian"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <a href="@Url.Action("Create")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create")',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId'
                           })"
               class="btn btn-success btn-sm" onclick="event.preventDefault()">
                Tambah
                <i class="icon-plus2 position-right"></i>
            </a>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>
        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" class="form-control input-periode" value="@DateTime.Today.ToString("yyyy-MM-dd")" ng-model="filter[12]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" value="@DateTime.Today.ToString("yyyy-MM-dd")" ng-model="filter[13]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[14]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Shift</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Section</th>

                    </tr>
                    <tr class="filter_list">
                        <!-- Filter -->
                        <td>
                            <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td>
                            <input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="middle text-center">
                            <a href="@Url.Action("Edit")/{{ data.@column[0] }}" class="text-success"
                               onclick="return false"
                               ng-click="edit(data.@column[0], '@Url.Action("Edit")')" title="Edit">
                                <i class="icon-pencil7"></i>
                            </a>
                            <a href="#" onclick="modal_print(this)" data-nobukti="{{data.@column[0]}}"><i class="icon-printer"></i></a>
                            <a ng-click="delete(data.@column[0], '@Url.Action("Delete")')" class="text-danger-600">
                                <i class="icon-trash"></i>
                            </a>
                        </td>

                        <!-- Table Result -->
                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td>{{data.@(column[2])}}</td>
                        <td>{{data.@(column[3])}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10; getdatas();"></div>
    </div>
</div>

<div id="modalPrint" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Print</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">Mulai Dari</label>
                            <div class="col-md-9">

                                <input type="number" min="0" id="mulaidari" class="form-control input-sm" value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <a id="print_label" class="btn btn-primary btn-block text-center" onclick="printlabel()" target="_blank">
                                    <h4><i class="fa fa-file-text-o"></i></h4>
                                    <h4>eTiket Diet</h4>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a id="print_rekap" class="btn btn-warning btn-block text-center" onclick="printrekap()" target="_blank">
                                    <h4><i class="fa fa-file-text-o"></i></h4>
                                    <h4>Penyajian Diet</h4>
                                </a>
                            </div>
                        </div>
                        <div class="form-group mt-15">
                            <div class="col-md-6">
                                <a id="print_labelsnack" class="btn btn-danger btn-block text-center" onclick="printlabelsnack()" target="_blank">
                                    <h4><i class="fa fa-file-text-o"></i></h4>
                                    <h4>eTiket Snack</h4>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a id="print_label" class="btn btn-success btn-block text-center" onclick="printlabelBarcode()" target="_blank">
                                    <h4><i class="fa fa-file-text-o"></i></h4>
                                    <h4>eTiket Barcode</h4>
                                </a>
                            </div>
                            @*<div class="col-md-6">
            <a id="print_rekap" class="btn btn-warning btn-block text-center" onclick="printrekap()" target="_blank">
                <h4><i class="fa fa-file-text-o"></i></h4>
                <h4>Penyajian Diet</h4>
            </a>
        </div>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

     angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[12] = date;
         sc.filter[13] = date;
         sc.filter[14] = "0";
        sc.getdatas();
     });
</script>
<script>

    var param_value = "";
    function modal_print(t_this) {
        $("#modalPrint").modal('show');
        param_value = $(t_this).data('nobukti');
    }

    function printlabelxx() {
		var mulai_dari = $("#mulaidari").val();
        var nama_file = "LabelGizi";
        var nama_sp = "RSUB_LoopDataLabe_Gizi_byNo_Penyajian";
        var _param = [
            {
                param_name: 'No_Penyajian',
                param_value: param_value
            },
			{
                param_name: 'MulaiDari',
                param_value: mulai_dari
            },
            {
                param_name: 'Snack',
                param_value: false
            }
        ];
        var param = encodeURIComponent(JSON.stringify(_param));
        window.open('@Url.Action("print", "Report")?nama_file=' + nama_file + '&nama_sp=' + nama_sp+ '&param=' + param, '_blank');
    }

    function printlabel() {
		var mulai_dari = $("#mulaidari").val();
        var nama_file = "LabelGizi";
        var nama_sp = "RSUB_LoopDataLabe_Gizi_byNo_Penyajian";
        var _param = [
            {
                param_name: 'No_Penyajian',
                param_value: param_value
            },
        ];
        var param = encodeURIComponent(JSON.stringify(_param));
        window.open('@Url.Action("print", "Report")?nama_file=' + nama_file + '&nama_sp=' + nama_sp+ '&param=' + param, '_blank');
    }

    function printlabelsnack() {
		var mulai_dari = $("#mulaidari").val();
        var nama_file = "LabelGizi";
        var nama_sp = "RSUB_LoopDataLabe_Gizi_byNo_Penyajian";
        var _param = [
            {
                param_name: 'No_Penyajian',
                param_value: param_value
            },
			{
                param_name: 'MulaiDari',
                param_value: mulai_dari
            },
            {
                param_name: 'Snack',
                param_value: true
            }
        ];
        var param = encodeURIComponent(JSON.stringify(_param));
        window.open('@Url.Action("print", "Report")?nama_file=' + nama_file + '&nama_sp=' + nama_sp+ '&param=' + param, '_blank');
    }

    function printrekap() {
        var nama_file = "SIM_Rpt_PenyajianDiet";
        var nama_sp = "SIM_Rpt_PenyajianDiet_byNobukti";
        var _param = [
            {
                param_name: 'NoBukti',
                param_value: param_value
            }
        ];
        var param = encodeURIComponent(JSON.stringify(_param));
        window.open('@Url.Action("print", "Report")?nama_file=' + nama_file + '&nama_sp=' + nama_sp+ '&param=' + param, '_blank');
    }

    function printlabelBarcode() {
		var mulai_dari = $("#mulaidari").val();
        var nama_file = "eTiketDiet(LabelBarcode)";
        var nama_sp = "RSUB_LoopDataLabe_Gizi_byNo_Penyajian";
        var _param = [
            {
                param_name: 'No_Penyajian',
                param_value: param_value
            },
        ];
        var param = encodeURIComponent(JSON.stringify(_param));
        window.open('@Url.Action("print", "Report")?nama_file=' + nama_file + '&nama_sp=' + nama_sp+ '&param=' + param, '_blank');
    }


    $('#filtersection').select2({
        ajax: {
            url: "@Url.Action("ListSection", "Penyajian")",
            allowClear: true,
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'SectionName',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'info');
                else {
                    params.page = data.Pagger.PageIndex + 1;
                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.SectionID, text: value.SectionName } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#filtershift').select2({
        ajax: {
            url: "@Url.Action("ListShift", "Penyajian")",
            allowClear: true,
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Nama',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'info');
                else {
                    params.page = data.Pagger.PageIndex + 1;
                    return {
                        results: $.map(data.Table, function (value, indel) {
                            return { id: value.Kode, text: value.Nama }
                        }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        customdetail(index_detail, _this, inputtarget, autofocus);
    }

    function customdetail(index_detail, _this, inputtarget, autofocus) {
        var _strproduk = '#panel_detil_produk_frm_Penyajian_edit  #Detail_List_' + index_detail + '__Model_Kode_Produk';
        var _inputproduk = $(_strproduk);

        _inputproduk.select2({
            ajax: {
                url: "@Url.Action("ListProduk", "Penyajian")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

</script>
