﻿<ul class="navigation navigation-main navigation-accordion">
    <!-- Main -->
    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
    <li><a href="@Url.Action("Index", "Home")"><i class="icon-home4"></i> <span>Menu</span></a></li>
    <li>
        <a><i class="icon-cart5"></i> <span>Transaksi</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "Penyajian")">Penyajian</a></li>
            <li><a href="@Url.Action("Index", "RegistrasiPasien")">List Pasien RI</a></li>
            <li><a href="@Url.Action("Index", "Billing")">Billing</a></li>
        </ul>
    </li>
    <li>
        <a><i class="icon-eye"></i> <span>Informasi</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "RequestDiet")">Request Diet</a></li>
            <li><a href="@Url.Action("Index", "HistoryPasien")">History</a></li>
        </ul>
    </li>

    <li>
        <a><i class="icon-balance"></i> <span>Stok</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "AmprahStok")">Amprahan Stok</a></li>
            <li><a href="@Url.Action("Index", "PemakaianObatNonPasien")">Pemakaian Obat Non Pasien</a></li>
            <li><a href="@Url.Action("Index", "StokOpname")">Stok Opname</a></li>
        </ul>
    </li>


    <li>
        <a><i class="icon-cube"></i> <span>Setup</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "Satuan")">Satuan</a></li>
            <li><a href="@Url.Action("Index", "Shift")">Shift</a></li>
            <li><a href="@Url.Action("Index", "Kategori")">Kategori</a></li>
            <li><a href="@Url.Action("Index", "Kelompok")">Kelompok</a></li>
            <li><a href="@Url.Action("Index", "Bahan")">Bahan</a></li>
            <li><a href="@Url.Action("Index", "Produk")">Produk</a></li>
        </ul>
    </li>

    <li>
        <a><i class="icon-notebook"></i> <span>Report</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "Report")">Tata Boga</a></li>
            @* <li><a href="@Url.Action("Index", "ReportKasir")?dir=Pendukung">Report Pendukung</a></li>*@

        </ul>
    </li>

</ul>