﻿@using iHos.MVC.Converter
@using SystemFNB.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "DetailHistoryPasien";
    ViewBag.Title = "History Pasien";
    var tableId = $"table_{controllerName}";
    var item = new DetailHistoryPasienViewModel();
    var columnCount = 35;
    var column = new string[columnCount];
    column[0] = nameof(item.NRM);
    column[1] = nameof(item.NamaPasien);
    column[2] = nameof(item.NoIdentitas);
    column[3] = nameof(item.TglLahir);
    column[4] = nameof(item.Alamat);
    column[5] = nameof(item.Phone);
    column[6] = nameof(item.TanggalPenyajian);
    column[7] = nameof(item.NamaShift);
    column[8] = nameof(item.NamaMakanan);
    column[9] = nameof(item.NamaDiet);

    var History = new DetailHistoryPasienViewModel();

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<div class="panel panel-info">
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 text-bold">NRM</label>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.NRM) &nbsp;
                        @if (Model.JenisKelamin == "M")
                        {
                            <label class="text-primary fa fa-mars"></label>
                        }
                        else if (Model.JenisKelamin == "F")
                        {
                            <label class="text-danger fa fa-venus"></label>
                        }
                        else
                        {
                            <label class="text-warning genderless"></label>
                        }
                        &nbsp;
                        <label class="text-bold">@Html.DisplayFor(model => model.JenisKelamin)</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 text-bold">Nama Pasien</label>
                    <div class="col-md-8">@Html.DisplayFor(model => model.NamaPasien)</div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 text-bold">Alamat</label>
                    <div class="col-md-8">@Html.Raw((Model.Alamat ?? "").Replace("\r", "<br/>"))</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-5 text-bold">Tipe Pasien</label>
                    <div class="col-md-7">@Html.DisplayFor(model => model.JenisKerjasama)</div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 text-bold">Phone</label>
                    <div class="col-md-7">@Html.DisplayFor(model => model.Phone)</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="wall" ng-controller="table"
             ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListHistoryDetail")';
     init();
     filter[1] = '@Model.NRM';">

            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                            <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                            <li><a data-action="collapse"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="datatable-header">
                    <div class="dataTables_length filter_list" style="display:none">
                        <label>
                            <span>Show:</span>
                            <select class="form-control input-xs" style="width: auto;"
                                    ng-change="getdatas()"
                                    ng-model="pagesize"
                                    ng-options="opt as opt for opt in pagesizes"></select>
                        </label>
                    </div>
                </div>

                <div class="dataTables_scrollHead table-responsive">
                    <table class="table table-bordered dataTable" id="@tableId">
                        <thead>
                            <tr ng-init="sort = '@column[1]'; sorttype = 'asc';">

                                <!-- Column Sort -->
                                <th rowspan="2" class="middle text-center">Action</th>
                                <th ng-click="ordering($event,'@column[1]')" class="sorting">Nama Pasien</th>
                                <th ng-click="ordering($event,'@column[6]')" class="sorting">Tanggal Pengkajian</th>
                                <th ng-click="ordering($event,'@column[7]')" class="sorting">Shift</th>
                                <th ng-click="ordering($event,'@column[8]')" class="sorting">Makanan</th>
                                <th ng-click="ordering($event,'@column[9]')" class="sorting">Diet</th>

                            </tr>
                            <tr class="filter_list">

                                <!-- Filter -->
                                <td><input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                                <td></td>
                                <td><input ng-model="filter[7]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                                <td><input ng-model="filter[8]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                                <td><input ng-model="filter[9]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                            </tr>
                            <tr class="loading {{ loading ? '' : 'hide' }}">
                                <td colspan="50">
                                    <div class="bubblingG center">
                                        <span id="bubblingG_1"></span>
                                        <span id="bubblingG_2"></span>
                                        <span id="bubblingG_3"></span>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="{{ loading ? 'hide' : '' }}">
                            <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]" data-id="{{data.@column[0]}}">

                                <td class="middle text-center">
                                    @*<a class="text-teal-400" href="@Url.Action("Index", "DetailHistoryPasien")?noreg={{data.@column[3]}}&nomor={{data.@column[23]}}">
                                        E-MR
                                    </a>*@
                                </td>

                                <!-- Table Result -->
                                <td>
                                    {{data.@(column[1])}}
                                </td>
                                <td>{{data.@(column[6])_View}}</td>
                                <td>{{data.@(column[7])}}</td>
                                <td title="{{data.@(column[8])}}">{{data.@(column[8])}}</td>
                                <td>{{data.@(column[9])}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="datatable-footer">
                    <div class="dataTables_info">
                        {{ datainfo }}
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination md-full-right" compile="pagination"></ul>
                    </div>
                </div>
                <div ng-init="pagesize = 10; getdatas();"></div>
            </div>
        </div>
    </div>
</div>