﻿@using SystemFNB.Models
@model BahanViewModel
@{
    var controllerName = "Bahan";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_edit";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Edit", Value = "active" }
};
}

<div class="wall">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Kode)

        <div class="form-group">
            <label class="control-label col-md-2">Nama</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Satuan</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Kode_Satuan, StaticModel.SelectListSatuan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Kode_Satuan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        @Html.EditorFor(model => model.Aktif)
                        @Html.ValidationMessageFor(model => model.Aktif, "", new { @class = "text-danger" })
                        Aktif
                    </label>
                </div>
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Simpan <i class="icon-floppy-disk position-right"></i></button>
        </div>
    </div>
    }
</div>