﻿@model SystemFNB.Models.ChangeUsername
@{
    ViewBag.Title = "Change Username";
    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = "Profile", Value = Url.Action("Index", "Manage") },
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

@using (Html.BeginForm("ChangeUsername", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
{
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            @Html.AntiForgeryToken()    
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="panel">
                <div class="panel-body">
                    <div class="text-center">
                        <h5 class="content-group">@ViewBag.Title</h5>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-right">
                        <a href="@Url.Action("Index", "Manage")" class="btn btn-link"><i class="icon-arrow-left13 position-left"></i> Back to Profile</a>
                        <button type="submit" class="btn bg-teal-400 btn-labeled-right ml-10">Change username</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}