﻿@using SystemFNB.Models
@model DietRequestViewModel
@{
    var controllerName = "RequestDiet";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
        new SelectListItem(){ Text = "Create", Value = "active" }
    };

    #region Detail
    var detail_diet = new DietRequestDetailViewModel();
    var table_detail_diet = $"frm_{controllerName}_table_detail_diet";
    var target_inputDetail_diet = $"inputDetail{controllerName}_diet";
    #endregion

    int detail_diet_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_diet_index = Model.Detail_List.Count();
        }
    }
}

<style>
    #@table_detail_diet thead th:nth-child(1),
    #@table_detail_diet tbody td:nth-child(1){
        text-align:center;
        width: 30px;
        display:none;
    }

    #@table_detail_diet thead th:nth-child(2),
    #@table_detail_diet tbody td:nth-child(2){
        text-align:center;
        width: 30px;
    }

    #@table_detail_diet thead th:nth-child(3),
    #@table_detail_diet tbody td:nth-child(3){
        display:none;
    }

    #@table_detail_diet thead th:nth-child(4),
    #@table_detail_diet tbody td:nth-child(4){
        width:100px;
    }

    #@table_detail_diet thead th:nth-child(5),
    #@table_detail_diet tbody td:nth-child(5){
        width:200px;
    }
    #@table_detail_diet thead th:nth-child(6),
    #@table_detail_diet tbody td:nth-child(6){
        width:150px;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Noreg)
        @Html.HiddenFor(model => model.Nomor)

        <div class="">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Untuk Tanggal</label>
                                @Html.EditorFor(model => model.UntukTanggalDari, new { htmlAttributes = new { @class = "form-control", Value = DateTime.Today.ToString("yyyy-MM-dd") } })
                                @Html.ValidationMessageFor(model => model.UntukTanggalDari, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="col-md-6">
                    <div class="form-group">
                        <label>Untuk Tanggal Sampai</label>
                        @Html.ValidationMessageFor(model => model.UntukTanggalSampai, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                        @Html.HiddenFor(model => model.UntukTanggalSampai, new { htmlAttributes = new { @class = "form-control", Value = DateTime.Today.ToString("yyyy-MM-dd") } })
                    </div>

                    <div class="form-group">
                        <label>Dokter</label>
                        @Html.DropDownListFor(model => model.Id_Dokter, new List<SelectListItem>(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Id_Dokter, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Keterangan</label>
                        @Html.TextAreaFor(model => model.Keterangan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <div id="panel_detil_diet_@formName" class="detail" data-index-detail="@detail_diet_index">
                            <label>Detail Request</label>
                            <div class="table-responsive">
                                <table id="@table_detail_diet" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>

                                            <!-- Thead -->
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@target_inputDetail_diet')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>Shift</th>
                                            <th>Makanan</th>
                                            <th>Diet</th>
                                            <th>Jumlah</th>
                                            <th>Keterangan</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    }

</div>

@{
    if (Model != null)
    {
        Model.Detail_List = null;
    }
}

<script>
    var newOption = new Option("None", "XX", true, true);
    $('#Id_Dokter').append(newOption).trigger('change');

    $('#@formName #Id_Dokter').select2({
        ajax: {
            url: "@Url.Action("ListDokter", "RegistrasiPasien")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

</script>

<script type="text/javascript">
     @if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            for (var i = 0; i < Model.Detail_List.Count; i++)
            {
                @:customrowdetailMakanan_Detail(@i, { target: $('#frm_RequestDiet_table_detail_diet thead a i')[0] }, '#panel_detil_diet_frm_RequestDiet_create', false);
                @:customrowdetailDiet_Detail(@i, { target: $('#frm_RequestDiet_table_detail_diet thead a i')[0] }, '#panel_detil_diet_frm_RequestDiet_create', false);
            }

        }
    }


    function customrowdetailMakanan_Detail(index_detail, _this, inputtarget, autofocus) {
        var namamakanan = '#panel_detil_diet_frm_RequestDiet_create #Detail_List_' + index_detail + '__Model_Kode_Makanan';
        $(namamakanan).select2({
            ajax: {
                url: "@Url.Action("ListMakanan", "RequestDiet")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Kode',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }

    function customrowdetailDiet_Detail(index_detail, _this, inputtarget, autofocus) {
        var namadiet = '#panel_detil_diet_frm_RequestDiet_create #Detail_List_' + index_detail + '__Model_Kode_Produk';
        $(namadiet).select2({
            ajax: {
                url: "@Url.Action("ListDiet", "RequestDiet")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Kode',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if (inputtarget == '#@target_inputDetail_diet') {
            customrowdetailMakanan_Detail(index_detail, _this, inputtarget, autofocus);
            customrowdetailDiet_Detail(index_detail, _this, inputtarget, autofocus);
        }
    }

</script>

<div id="@target_inputDetail_diet" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.Kode_Shift, StaticModel.ListShift, new
   {
       @class = "form-control input-sm"
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.Kode_Makanan, new List<SelectListItem>(), new { @class = "form-control input-sm" })
        @*@Html.DropDownListFor(model => model.Detail_List[-1].Model.Kode_Makanan, StaticModel.ListDaftarMakanan, new
   {
       @class = "form-control input-sm"
   })*@
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.Detail_List[-1].Model.Kode_Produk, new List<SelectListItem>(), new { @class = "form-control input-sm" })
        @*@Html.DropDownListFor(model => model.Detail_List[-1].Model.Kode_Produk, StaticModel.ListDaftarDiet, new
        {
            @class = "form-control input-sm"
        })*@
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.Qty, new { @class = "form-control", type = "number", Value = 1 })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Keterangan, new { htmlAttributes = new { @class = "form-control" } })
    </div>

</div>