﻿@using iHos.MVC.Converter
@using SystemFNB.Models
@{
    var controllerName = "Diet";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var item = new listDietDetailViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoBukti);
    column[1] = nameof(item.Tanggal);
    column[2] = nameof(item.NRM);
    column[3] = nameof(item.NamaPasien);
    column[4] = nameof(item.Shift);
    column[5] = nameof(item.NoKamar);
    column[6] = nameof(item.Nama);
    column[7] = nameof(item.KodeShift);
    column[8] = nameof(item.Batal);
    column[9] = nameof(item.Realisasi);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 40px;
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        width: 40px;
        white-space: nowrap;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        white-space: nowrap;
        width: 80px;
    }

    #@tableId tbody td:nth-child(4){
        background-color: #9cf19c;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        width: 40px;
        text-align: center;
        white-space: nowrap;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        max-width: 500px;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        width: 50px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        width: 100px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #@tableId thead th:nth-child(8),
    #@tableId tbody td:nth-child(8){
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #@tableId thead th:nth-child(9),
    #@tableId tbody td:nth-child(9){
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();
     ">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Tanggal</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[11]" ng-change="getdatas()" disabled />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[12]" ng-change="getdatas()" disabled />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[10]" onclick="disabletarget(this.checked, '.input-periode')" ng-change="getdatas()" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <span>Ruangan:</span>
                        <select class="form-control" id="fmfltrSection" ng-model="filter[15]" ng-change="getdatas()">
                            <option value="">ALL</option>
                            @foreach (var x in StaticModel.ListSectionRI)
                            {
                                @:<option value="@x.Value">@x.Text</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                    <div class="form-group">
                        <label id="dataregautorefreshlabel"></label>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Bukti</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Shift</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">No Kamar</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Diet</th>
                        <th>Status</th>

                    </tr>
                    <tr class="filter_list">

                        <!-- Filter -->
                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td></td>
                        <td><input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td>
                            <select ng-model="filter[5]" class="form-control input-xs" ng-change="getdatas()">
                                <option value="">ALL</option>
                                @foreach (var x in StaticModel.ListShift)
                                {
                                    @:<option value="@x.Value">@x.Text</option>
                                }
                            </select>
                        </td>
                        <td><input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td>
                            <select ng-model="filter[7]" class="form-control input-xs" ng-change="getdatas()">
                                <option value="">ALL</option>
                                <option value="0">Belum Realisasi</option>
                                <option value="1">Sudah Realisasi</option>
                            </select>
                        </td>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>

                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="middle text-center">
                            <a href="@Url.Action("Detail")/{{ data.@column[0] }}" class="text-info-600"
                               onclick="return false"
                               ng-click="detail_param({ id : data.@column[0], shift : data.@column[7]}, '@Url.Action("Detail")')" title="Detail">
                                <i class="icon-eye"></i>
                            </a>
                            <a class="text-teal-600" ng-if="(data.@(column[8])==false || data.@(column[8])==NULL) && (data.@(column[9])==false || data.@(column[9])==NULL)"
                               onclick="return false"
                               ng-click="edit_param({ id : data.@column[0], shift : data.@column[7]}, '@Url.Action("Edit")')" title="Edit">
                                <i class="icon-pencil7"></i>
                            </a>
                            <a ng-if="(data.@(column[8])==false || data.@(column[8])==NULL) && (data.@(column[9])==false || data.@(column[9])==NULL)"
                               ng-click="delete_param({ id : data.@column[0],shift : data.@column[7]}, '@Url.Action("Delete")')" class="text-danger-600">
                                <i class="icon-trash"></i>
                            </a>
                        </td>

                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td>{{data.@(column[2])}}</td>
                        <td title="{{data.@(column[3])}}">{{data.@(column[3])}}</td>
                        <td>{{data.@(column[4])}}</td>
                        <td>{{data.@(column[5])}}</td>
                        <td>{{data.@(column[6])}}</td>
                        <td class="text-center">
                            <span ng-if="data.@(column[8])==true && (data.@(column[9])==false || data.@(column[9])==NULL)" class="label label-danger">BATAL</span>
                            <span ng-if="(data.@(column[8])==false || data.@(column[8])==NUL) && (data.@(column[9])==false || data.@(column[9])==NULL)" class="label label-info">BELUM REALISASI</span>
                            <span ng-if="(data.@(column[8])==false || data.@(column[8])==NULL) && data.@(column[9])==true" class="label label-success">SUDAH REALISASI</span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10; getdatas();"></div>
    </div>
</div>

<audio preload="auto" id="audiobeep" src="~/Content/audio/deduction-588.mp3"></audio>
<script>

    const dataregautoregreshtimemax = 10;
    let dataregautoregreshtime = dataregautoregreshtimemax;

    const dataregautoregreshproses = () => {
        const scope = angular.element('#@tableId').scope();
        tablerefresh = scope.loading;
        if (!tablerefresh) {
            autoplayingsound();
        }
        dataregautoregreshtime = tablerefresh ? dataregautoregreshtimemax : (dataregautoregreshtime - 1);
        if (dataregautoregreshtime < 0) {
            scope.getdatas();
            dataregautoregreshtime = dataregautoregreshtimemax;
        }
        $('#dataregautorefreshlabel').html(dataregautoregreshtime);
        setTimeout(dataregautoregreshproses, 1000);
    };

    var myAudio;
    document.addEventListener("DOMContentLoaded", function (event) {
        angular.element(document).ready(function () {

            // audio notification
            myAudio = document.getElementById('audiobeep');
            myAudio.addEventListener('ended', function () {
                this.currentTime = 0;
                this.play();
            }, false);

            // counterdown and auto load
            dataregautoregreshproses();

            // default value filter table
            var date = new Date('@DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd")');
            var date2 = new Date('@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")');
            var sc = angular.element('#@tableId').scope();
            sc.filter[11] = date;
            sc.filter[12] = date2;
            sc.filter[10] = true;
            sc.filter[7] = '0';
            sc.getdatas();

            const scope = angular.element('#@tableId').scope();
            tablerefresh = scope.loading;
            if (!tablerefresh) {
                autoplayingsound();
            }
        });
    });

    function autoplayingsound() {
        var tbl = $("#table_Diet").find("tr").length;
        if (tbl > 3) {
            playsound();
        } else {
            stopsound();
        }
    }

    function playsound() {
        myAudio.play();
        soundplaying = true;
    }

    function stopsound() {
        myAudio.pause();
        soundplaying = false;
        myAudio.currentTime = 0;
    }

</script>