﻿@using iHos.MVC.Converter
@using SystemFNB.Models
@{
    var controllerName = "Produk";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var item = new ProdukViewModel();
    var columnCount = 7;
    var column = new string[columnCount];
    column[0] = nameof(item.Kode);
    column[1] = nameof(item.Nama);
    column[2] = nameof(item.NamaKategori);
    column[3] = nameof(item.NamaKelompok);
    column[4] = nameof(item.Diet);
    column[5] = nameof(item.Harga);
    column[6] = nameof(item.Aktif);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 90px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){

    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        width: 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(8),
    #@tableId tbody td:nth-child(8){
        text-align: center;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <a href="@Url.Action("Create")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create")',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId',
                                size : 'md'
                           })"
               class="btn btn-success btn-sm" onclick="event.preventDefault()">
                Tambah
                <i class="icon-plus2 position-right"></i>
            </a>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="dataTables_length filter_list" style="display:none">
                <label>
                    <span>Show:</span>
                    <select class="form-control input-xs" style="width: auto;"
                            ng-change="getdatas()"
                            ng-model="pagesize"
                            ng-options="opt as opt for opt in pagesizes"></select>
                </label>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[1]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">Kode</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Nama</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Kategori</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Kelompok</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Diet</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Harga</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Aktif</th>

                    </tr>
                    <tr class="filter_list" style="display:none">

                        <!-- Filter -->
                        <td>
                            <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <select class="form-control input-xs" ng-model="filter[4]" ng-change="getdatas()">
                                <option value="">All</option>
                                <option value="1">Ya</option>
                                <option value="2">Tidak</option>
                            </select>
                        </td>
                        <td>
                            <input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <select class="form-control input-xs" ng-model="filter[6]" ng-change="getdatas()">
                                <option value="">All</option>
                                <option value="1">Aktif</option>
                                <option value="2">Tidak Aktif</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="middle text-center">
                            <a href="@Url.Action("Edit")/{{ data.@column[0] }}" class="text-teal-600"
                               onclick="return false"
                               ng-click="edit(data.@column[0], '@Url.Action("Edit")', {size : 'md'})" title="Edit">
                                <i class="icon-pencil7"></i>
                            </a>
                    
                        </td>

                        <!-- Table Result -->
                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])}}</td>
                        <td>{{data.@(column[2])}}</td>
                        <td>{{data.@(column[3])}}</td>
                        <td>
                            <label ng-if="data.@(column[4])" class="label label-success">Ya</label>
                            <label ng-if="!data.@(column[4])" class="label label-danger">Tidak</label>
                        </td>
                        <td>{{data.@(column[5])_View}}</td>
                        <td>
                            <label ng-if="data.@(column[6])" class="label label-success">Aktif</label>
                            <label ng-if="!data.@(column[6])" class="label label-danger">Tidak</label>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10; getdatas();"></div>
    </div>
</div>